body {
    background-color: rgb(226, 125, 43);
}

p {
    color: gray;
    font-size: 100px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.card {
    margin: 10px;
    
}